name: goreleaser
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write # publishing releases
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Install chocolatey
        run: |
          mkdir -p /opt/chocolatey
          wget -q -O - "https://github.com/chocolatey/choco/releases/download/${CHOCOLATEY_VERSION}/chocolatey.v${CHOCOLATEY_VERSION}.tar.gz" | tar -xz -C "/opt/chocolatey"
          echo '#!/bin/bash' >> /usr/local/bin/choco
          echo 'mono /opt/chocolatey/choco.exe $@' >> /usr/local/bin/choco
          chmod +x /usr/local/bin/choco
        env:
          CHOCOLATEY_VERSION: 1.2.0
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "2"
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
          CHOCOLATEY_API_KEY: ${{ secrets.CHOCOLATEY_API_KEY }}
      - name: Docs checkout
        uses: actions/checkout@v4
        with:
          repository: algolia/doc
          path: docs
          fetch-depth: 0
          token: ${{secrets.GORELEASER_GITHUB_TOKEN}}
      - name: Update docs
        env:
          GIT_COMMITTER_NAME: algolia-ci
          GIT_AUTHOR_NAME: algolia-ci
          GIT_COMMITTER_EMAIL: noreply@algolia.com
          GIT_AUTHOR_EMAIL: noreply@algolia.com
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
        run: |
          make docs-pr
