name: goreleaser

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write  # publishing releases

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.8.0
        with:
          version: v0.184.0
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
      - name: Docs checkout
        uses: actions/checkout@v3
        with:
          repository: algolia/cli-docs
          path: docs
          fetch-depth: 0
          token: ${{secrets.GORELEASER_GITHUB_TOKEN}}
      - name: Update docs
        env:
          GIT_COMMITTER_NAME: algolia-ci
          GIT_AUTHOR_NAME: algolia-ci
          GIT_COMMITTER_EMAIL: noreply@algolia.com
          GIT_AUTHOR_EMAIL: noreply@algolia.com
        run: make docs-bump